name: pull-request

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Unit test
        run: yarn test

      - name: Validate Distribution Builds
        run: |
          yarn build
          git diff --exit-code

  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Get version
        id: version
        uses: ./

      - name: Check version outputs
        uses: actions/github-script@v6
        with:
          script: |
            const assert = require('assert')
            const outputs = ${{ toJSON(steps.version.outputs) }}

            // check default / no-input outputs
            const [ major, minor, patch ] = outputs.version.split('.')
            assert.deepEqual(outputs['version-with-prefix'], `v${major}.${minor}.${patch}`)
            assert.deepEqual(outputs.major, major)
            assert.deepEqual(outputs['major-with-prefix'], `v${major}`)
            assert.deepEqual(outputs.minor, minor)
            assert.deepEqual(outputs.patch, patch)

            // check output is a valid bump string
            assert.deepEqual(['major','minor','patch'].indexOf(outputs.bump) > -1, true)
